body{
    background-color: black;
    text-align: center;
}

@keyframes entry {
    from{transform: scale(0)}
    to{transform: scale(1)}
}

@keyframes colors {
    0%{color: rgb(0, 126, 10)}
    25%{color: rgb(89, 192, 98)}
    50%{color: rgb(0, 126, 10)}
    75%{color: rgb(89, 192, 98)} 
    100%{color: rgb(0, 126, 10)}
}

@keyframes shadowColor {
    0%{box-shadow: 0px 0px 0px rgb(0, 126, 10)}
    25%{box-shadow: 1.5px 1.5px 2px rgb(89, 192, 98)}
    50%{box-shadow: 0px 0px 0px rgb(0, 126, 10)}
    75%{box-shadow: 1.5px 1.5px 2px rgb(89, 192, 98)} 
    100%{box-shadow: 0px 0px 0px rgb(0, 126, 10)}
}

h1 {
    color: rgb(21, 148, 21);
    display: block;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px 5px rgba(89, 192, 98, 0.5);
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

input {
    text-align: center;
    color: rgb(21, 148, 21);  
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: block;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    width: 200px;
    background-color: black;
    border: 1px solid rgb(21, 148, 21);
    text-shadow:rgb(10, 209, 10);
    border-radius: 10px;
    display: inline;
}

input:hover{
    background-color: rgb(21, 148, 21);
    color: white;
    cursor: pointer;
}

.choice{
    margin-bottom: 40px;
}

h4{
    color: rgb(21, 148, 21);
    display: inline;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px 5px rgba(89, 192, 98, 0.5);
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h2 {
    margin-right: 10px;
    display: inline;
    color: rgb(21, 148, 21);
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px 5px rgba(89, 192, 98, 0.5);
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

h3 {
    color: rgb(21, 148, 21);
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 3px 3px 5px rgba(89, 192, 98, 0.5);
    animation-name: entry;
    animation-duration: 1s;
}

.stage {
    margin-top: 10px;
    margin-bottom: 30px;
    animation-name: entry;
    animation-duration: 0.5s;
}

#alien {
    margin-right: 100px;
}

.square {
    width: 100px;
    height: 100px; 
    border: 1px solid rgb(21, 148, 21);
    border-radius: 10px;
    display: inline-block;
    animation-name: shadowColor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 0.3s;
}

.square:hover {
    background-color: rgb(10, 209, 10);
    box-shadow: 4px 4px 2px rgba(10, 209, 10, 0.5);
}


.o {
    position: relative;
}

.o::hover{
    cursor: pointer;
}

.o:after{
    position: absolute;
    content: "👽";
    font-size: 60px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: entry 0.5s;
}
.x {
    position: relative;
}

.x::hover{
    cursor: pointer;
}


.x:after{
    position: absolute;
    content: "☠️";
    font-size: 60px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: entry 0.5s;
}

footer{
    margin-top: 25px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer > p {
    color: rgb(21, 148, 21);
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    animation-name: colors;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* ☠️ */
/* 👽 */

